/* aboutme.css */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #2D2D3B;
  color: #EDEDED;
}

.card {
  width: 780px;
  margin: 40px auto;
  background: #3A3A52;
  border-radius: 20px;
  box-shadow: 0 0 0 6px #32334A;
  padding: 30px;
  color: #EDEDED;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #F0F0F0;
  margin-bottom: 20px;
}

header a {
  text-decoration: none;
  color: #DC6DAD;
}

.info {
  color: #EDEDED;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 18px;
}

.title {
  text-align: center;
}

.title h1 {
  font-size: 32px;
  font-weight: 600;
  color: #F0F0F0;
}

.title p {
  margin-top: -10px;
  font-size: 18px;
  color: #DDD;
}

.memos {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.memo {
  flex: 1;
  background: #4C4F66;
  padding: 15px;
  border-radius: 12px;
  font-size: 15px;
  line-height: 1.4;
  color: #EDEDED;
}

.memo h2 {
  font-size: 20px;
  margin-bottom: 8px;
}

.navi {
  margin-top: 25px;
  font-size: 20px;
  color: #F0F0F0;
}

.nav-buttons {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.nav-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 12px;
  background: #2D2D3B;
  border: 2px solid #8AB4F8;
  cursor: pointer;
  color: #EDEDED;
}

.nav-buttons button:hover {
  background: #32334A;
}
